<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Julius Miyumo - CV</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons-->
  <link href={% static "assets/img/file-earmark-code-fill.svg" %} rel="icon">
  <i class="bi bi-file-code-fill"></i>
  <link href={% static "assets/img/file-earmark-code-fill.svg" %} rel="apple-touch-icon"> 

  <!-- Google Fonts -->
  <link href={% static "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" %} rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static "assets/vendor/aos/aos.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/boxicons/css/boxicons.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/glightbox/css/glightbox.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/swiper/swiper-bundle.min.css" %} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static "assets/css/style.css" %} rel="stylesheet">

  <!-- =======================================================
  * Project Name: Website Resume - Static Web Hosting
  * Created: 27th November 2022
  * Author: Julius Miyumo
  * License: bootstrap
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
      <div class="profile">
        <img src={% static "assets/img/profile-img.jpg" %} alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Julius Miyumo</a></h1>        
        <div class="social-links mt-3 text-center">
          <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> -->
          <a href="https://www.linkedin.com/in/juliusmiyumo/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/Julius-777" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://gitlab.com/Julius_777" class="gitlab"><i class="bx bxl-gitlab"></i></a>
          
        </div>
      </div>
      <section class="d-flex flex-column justify-content-center align-items-center">
      </section>
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#projects" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Projects</span></a></li>

          
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Julius Miyumo</h1>
      <p><span class="typed" data-typed-items="I'm a software developer, I studied electrical engineering, I have 3 years experience in the IT industry"></span>?</p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Julius is a Software Developer with 3 years commercial experience in the IT industry.
              Prior to joining IT Consulting in 2020, he worked as an Electrical & Instrumentation Engineer in the Energy & Resources Sector. His background in Electrical Engineering carries the experience of applying advanced mathematics and scientific methods to design, build & test practical solutions for complex problems. Julius also has a keen interest in quantitative finance and algorithmic trading which he is studying part time. 
          </p>
        </div>
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src={% static "assets/img/profile-img.jpg" %} class="img-fluid" alt="">
          </div>
         <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Skills</h3>
            <p class="fst-italic">
              
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Python Backend:</strong> <span> Django</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Python for Data Science:</strong><span> data wrangling, data analysis, ML/A.I</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Unix/Linux:</strong> <span> Shell scripting</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Git:</strong><span>Github/Gitlab</span></li>
                  
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Microservices:</strong><span>Docker, Kubernetes, AWS</span></li> 
                  <li><i class="bi bi-chevron-right"></i> <strong>AWS:</strong> <span>S3, EC2, CLI, IAM, SQS, etc</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>SDLC Agile:</strong> <span>Jira</span></li>      
                  <li><i class="bi bi-chevron-right"></i> <strong>Pega:</strong> <span>PRPC 8.6v</span></li>
                </ul>
              </div>
            </div>
            <p>
              
            </p>
          </div> 
        </div>

      </div>
    </section><!-- End About Section -->
    
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Julius specialises in scripting high performance python code following SOLID OOP design principles and is experience in working with data science libraries such as skLearn, pandas, numPy and tensorflow. He has also developed web applications with Django and microservices using AWS, Docker & Kubernetes.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Contact</h3>
            <div class="resume-item pb-0">
              <h4>Julius Miyumo</h4>
              <ul>
                <p><i class="bi bi-geo-alt"></i>  Melbourne, Victoria AU</p>
                <p><i class="bi bi-phone"></i>  0433433579</p>
                <p><i class="bi bi-envelope"></i>  jjmiyumo@hotmail.com</p>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>B.E Electrical Engineering (Hons II)</h4>
              <h5>2014 - 2018</h5>
              <p><em><strong>University of Queensland</strong>, Brisbane, Australia</em></p>
              <p>Strong focus on firmware and electronics</p>
            </div>
            <div class="resume-item">
              <h4>NCP Short-Term Scholarship Program </h4>
              <h5>2016 - 2016</h5>
              <p><em><strong>Korea Advanced Instiute of Technology</strong>, Daejon, South Korea</em></p>
              <p>Summer Semester Exchange studying Medical Imaging Technology</p>
            </div>
            
            <div class="resume-item">
              <h4>Certifications</h4>
              <p><b>The Python Quants | TPQ:</b> Python for Algorithmic Trading and Asset Management Certificate Program - <em>On going</em> </p>
              <p><b>AWS:</b> Certified Cloud Practioner - <em>Jan 2023</em></p>
              <p><b>Pega:</b> CSSA - <em>July 2022</em>, CSA - <em>July 2020</em></p>
              
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>  
            <div class="resume-item">
              <h4>Pega Web Developer</h4>
              <h5>DEC 2021 - Present</h5>
              <p><em><strong>INFOSYS</strong>, Services Australia - ECE Programme Hub</em></p>
              <ul>
                <li>Developing user stories and fixing defects assigned in Jira </li>
                <li>Packaging and deploying application for testing across environments with Gitlab</li>
                <li>Showcasing developed features at the end of each sprint to stakeholders</li>
                <li>Creating documentation process for the deployment process</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Pega Web Developer</h4>
              <h5>DEC 2020 - NOV 2021</h5>
              <p><em><strong>WIPRO</strong>, Department of Justice & Community Safety Victoria </em></p>
              <ul>
                <li>Fixing assigned Jira defects </li>
                <li>Integration testing of the application with legacy source systems and Oracle SQL Database</li>
                <li>Communicating with client SME’s and Business Analysts and documenting requirements to ensure functionality complies</li>
                <li>Showcasing developed features at the end of each sprint to stakeholders </li>
              </ul>
            <h4>Project Engineer</h4>
            <h5>DEC 2020 - NOV 2021</h5>
              <p><em><strong>WIPRO</strong>, Graduate Program</em></p>
              <ul>
                <li>Core Java Training</li>
                <li>Python for Data Science Udemy</li>
                <li>Pega CSA </li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Graduate Electrical & Instrumentation Engineer</h4>
              <h5>FEB 2018 - AUG 2019</h5>
              <p><em><strong>WORLEY</strong>, VIVA Energy, Nufarm </em></p>
              <ul>
                <li>Working on the client’s industrial site on the maintenance of the piping and Instrumentation diagrams for clients control systems and machinery.  </li>
                <li>Performed cable sizing and circuit protection calculations for LV motor installations</li>
                <li>Conducted an analysis study to assess the state of the backup power supplies powering the sites emergency fire sirens.</li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Projects Section ======= -->
    <section id="projects" class="resume section">
      <div class="container">

        <div class="section-title">
          <h2>Projects</h2>
          <p>Julius actively builds his very own projects which are viewable on his Github & Gitlab. See below for an overview of some of the projects built.</p>
          
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
    
            <div class="resume-item">
              <h4>VIDEO TO MP3 CONVERTER - MICROSERVICES</h4>
              <h5>Dockers, Kubernetes, AWS, Python</h5>
              <p><em>Built this web app service implementing a microservice architecture with Python, Docker, Kubernetes, AWS SQS, Mongo DB and mySQL.</em></p>
              <ul>
                <li>Users interact with website via AWS API Gateway which routes requests to authentication service. Authenticated User credentials stored in MySQL </li>
                <li>AWS SQS is used to handle communication between the distributed microservice components</li>
                <li>When user uploads video it is stored in Mongo DB and converted mp3 is also stored in the DB available for download</li>
              </ul>
          </div>
            <div class="resume-item">
                  <h4>COVID ELECTRICITY CONSUMPTION - MELBOURNE DATATHON</h4>
                  <h5>Python, Pandas, Numpy, SKLearn</h5>
                  <p><em>Participated in Melbourne 2020 datathon. The challenge was to examine historical electricity consumption data during the pandemic to determine if data can be used as a proxy for monitoring & predicting economic activity.</em></p>
                  <ul>
                    <li>Data cleaning, preparation and exploratory data analysis of raw data sets using python libraries such as pandas, numpy  </li>
                    <li>Data visualization using matplotlib and seaborn</li>
                    <li>Performing STL decomposition to obtain stationary time series for further statistical analysis</li>
                    <li>Project is viewable on  <a href="https://colab.research.google.com/drive/1OvTFXCvYUCR6Etm38-mMeD7fzurtfGf7?usp=sharing">Google Colab</a> Jupyter Notebook</li>
                  </ul>
              </div>   
            
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="resume-item">
              <h4>FARMBOT Fertilizer Distribution Rover - FINAL YEAR THESIS </h4>
              <h5>C++, Python, Linux</h5>
              <p><em>Electrical Engineering Honours Thesis Project. Designed and built a semi-autonomous fertilizer distribution rover as an extension of the <a href="https://farm.bot/">farmbot project</a>. The following technologies were used:</em></p>
              <ul>
                <li>Linux shell scripting was used to setup the environment on RasPi to run the python scripts controlling the rover</li>
                <li>Keras and TensorFlow were used to train CNN Deep Learning Networks for Image recognition to identify plants correctly before distributing the fertilizer</li>
                <li>OpenCV was used for preprocessing and transforming image data into Numpy arrays that could be analyzed by the Image recognition Deep Learning Model</li>
                <li>RasPi was interfaced with Arduino microcontroller running C++ code controlling the systems hardware e.g. motors and pumps</li>
              </ul>
            </div>
            <div class="resume-item">
                  <h4>A.I REINFORCEMENT LEARNING PROJECT</h4>
                  <h5>Java</h5>
                  <p><em> <b>A.I Agent plays racing game (Java)</b>
The Agent must make the most optimal combination of decisions by select a type of driver, car model, and car components that allow a racing team to reach the finish line within a given number of steps on a changing terrain. 
</em></p>
                  <ul>
                    <li>The partially observable system dynamics were modelled using a Markov Decision Process (MDP).  </li>
                    <li>Monte Carlo Tree Search was used to optimize the decision policy of the agent</li>
                    <li>The following algorithms and mathematical logic were implemented in Java code.</li>
                  </ul>
              </div>    
          </div>
        </div>

      </div>
    </section><!-- End Project Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
     
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src={% static "assets/vendor/purecounter/purecounter_vanilla.js" %}></script>
  <script src={% static "assets/vendor/aos/aos.js" %}></script>
  <script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src={% static "assets/vendor/glightbox/js/glightbox.min.js" %}></script>
  <script src={% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}></script>
  <script src={% static "assets/vendor/swiper/swiper-bundle.min.js" %}></script>
  <script src={% static "assets/vendor/typed.js/typed.min.js" %}></script>
  <script src={% static "assets/vendor/waypoints/noframework.waypoints.js" %}></script>
  <script src={% static "assets/vendor/php-email-form/validate.js" %}></script>

  <!-- Template Main JS File -->
  <script src={% static "assets/js/main.js" %}></script>

</body>

</html>